.job ul {
    padding-left: 0;
    li {
        margin: $space6 0;
        list-style: none;
    }
}

.job {
    margin: $space9 0;
    &-title {
        margin-top: $space10;
    }
    ul {
        padding-left: 0;
        li {
            margin: $space6 0;
            list-style: none;
        }
    }
}

.job-employer {
    opacity: .6;
}

.about-title {
    margin-bottom: $space9;
}