footer {
    height: 150px;
    background-color: $brand;
    margin-top: $space10;
    opacity: .9;
    padding: $space7;

}

.footer-bar {
    position: sticky;
    bottom: 0;
}

.link-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 400px;

}

.sm-icon {
    height: 40px;
    opacity: .6;
    transition: opacity 0.3s ease-in;
    &:hover {
        opacity: 1;
    }
}