footer {
    height: 150px;
    background-color: $brand;
    margin-top: $space10;
    opacity: .9;
    padding: $space7;
}

.link-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 400px;

}

.sm-icon {
    height: 40px;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
}