header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 25px 20px 25px 20px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #010101;
    opacity: .95;
    color: white;
}

header span {
    font-weight: 800;
}