header {
    z-index: 30;
    height: $space10;
   // background-color: $dark;
    color: $dark;
    font-size: $space5;
    @include mq('sm') {
        height: 66px;
    }
}

.menu {
   // @include mq('sm') {
        display: none;
    //}
}

header a {
        color: $dark;
}

nav {
    display: none;
    
    //@include mq('sm') {
        display: flex;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
  //  }
}