header {
    z-index: 30;
    height: $space10;
   // background-color: $dark;
    color: $dark;
    font-size: $space5;
    @include mq('sm') {
        height: 66px;
    }
}

.menu {
   @include mq('sm') {
 //       display: none;
    }
}

header a {
        color: $dark;
        cursor: pointer;
}

nav {
  //  display: none;
    
    @include mq('sm') {
        display: flex;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
}

button {
    text-decoration: none;
    outline: none;
    border-style: none;
    background: none;
    padding: 5px;
    transition: text-decoration .1s ease-in;
    &:hover {
        text-decoration: underline;
    }
}