.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: space-around;
    background-color: #010101;
    opacity: .95;
    padding: 20px 20px 0 20px;
}