.project-container {
    padding: 18.75px;
}

.project {
    background-color: #2b3a42;
    height: 150px;
    margin: 20px 0;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;
}

.project span {
    color: white;
}

.project p {
    color: white;
}