.projects {
    padding: $pa3
}

.project {
    background-color: $dark;
    height: 200px;
    margin: $space6 0;
    border-radius: 12px;
    cursor: pointer;
    padding: $pa1;
    @include box-shadow;
}

.project-container {
    margin: $space7 0;
}

.project span, 
.project p {
    color: $light;
}