.skills {
    height: auto;
    margin: 0 0 $space7 0;
    &-section {
        padding: $pa3;
    }
}

.skill span {
    text-align: center;
    font-size: $space4;
    font-weight: 700;
}

.skill {
    width: 70px;
    height: 70px;
    border-radius: $corners;
    display: inline-block;
    margin: auto;
    padding: $pa1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.88;

    @include box-shadow();

    &-react {
        background-color: #282c34;
        color: #61dafb;
    }
    &-javascript {
        background-color: #f7df1e;
    }
    &-sass {
        background-color: #bf4080;
        color: white;
    }
    &-css3 {
        background-color: #29A9DF;
        color: white;
    }
    &-html5 {
        background-color: #EF5F26;
        color: white;
    }
    &-babel {
        background-color: #323330;
        color: #f5da55;
    }
    &-bootstrap {
        background-color: #563d7c;
        color: white;
    }
    &-git {
        background-color: #f14e32;
        color: white;
    }
    &-node {
        background-color: #026e00;
        color: white;
    }
    &-express {
        background-color: #eee;
        color: #259dff;
    }
    &-mongodb {
       background-color: #13aa52;
       color: white;
    }
    &-webpack {
        background-color: white;
        color: #2b3a42;
    }
}

