@mixin title {
    margin: $space8 0 $space5;
    font-weight: 400;
    line-height: 1.15;
}

@mixin box-shadow {
    -moz-box-shadow: 0 4px 7px 0.5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 7px 0.5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 7px 0.5px rgba(0, 0, 0, 0.1);
}