* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #f5da55;
    font-size: 28px;
    padding-bottom: 40px;
}

h3 {
    color: #f5da55;
}

img {
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 25px;
}