* {
    margin: 0;
    box-sizing: border-box;
    font-family: $standard-font;
}

h1 {
    font-size: $space7;
    font-weight: 400;
    max-width: 474px;
    @include mq('med') {
        font-size: $space8;
    }
}

h1, h2 {
    font-family: $title-font;
    @include title();
}

h4 {
    margin: $space7 0 0;
}

h1 {
    color: $brand;
}

h2 {
    text-align: center;
}

h2, h3 {
    color: $dark-text;
}

h3 {
    margin-bottom: $space1;
}

body {
    background-color: rgba($dark, .01);
    color: $dark-text;
}

img {
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: $space6;
}

a {
    text-decoration: none;
}