* {
    margin: 0;
    box-sizing: border-box;
    font-family: $standard-font;
}

h1 {
    font-size: $space7;
}

h1, h2, h3 {
    font-family: $title-font;
    @include title();
}

h1, h3 {
    color: $brand;
}

h2 {
    color: $dark;
}

img {
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: $space6;
}

a {
    text-decoration: none;
}