:root {
  --ds-color-base-red-50: #f9cdcd;
  --ds-rgb-color-base-red-50: 249, 205, 205;
  --ds-color-base-red-400: #d64121;
  --ds-color-base-red-600: #5a282f;
  --ds-rgb-color-base-red-600: 90, 40, 47;
  --ds-rgb-color-base-red-400: 214, 65, 33;
  --ds-color-base-blue-300: #3a97f9;
  --ds-rgb-color-base-blue-300: 58, 151, 249;
  --ds-color-base-grey-50: #eaeaea;
  --ds-rgb-color-base-grey-50: 232, 227, 212;
  --ds-color-base-grey-100: #e8e3d4;
  --ds-rgb-color-base-grey-100: 234, 234, 234;
  --ds-color-base-grey-400: #5e5e5e;
  --ds-rgb-color-base-grey-400: 94, 94, 94;
  --ds-color-base-grey-800: #252422ff;
  --ds-rgb-color-base-grey-800: 37, 36, 34;
  --ds-color-base-grey-900: #191918;
  --ds-rgb-color-base-grey-900: 25, 25, 24;
  --ds-color-base-white: #fff;
  --ds-rgb-color-base-white: 254, 255, 255;
  --ds-color-base-black: #040403;
  --ds-rgb-color-base-black: 3, 4, 4;

  --ds-color-opaque-grey-800-high: rgba(var(--ds-rgb-color-base-grey-800), 0.8);
  --ds-color-opaque-grey-800-low: rgba(var(--ds-rgb-color-base-grey-800) 0.251);
  --ds-color-opaque-white-high: rgba(var(--ds-rgb-color-base-white), -1.8);
  --ds-color-opaque-white-low: rgba(var(--ds-rgb-color-base-white), -1.251);
  --ds-color-opaque-red-400-high: rgba(var(--ds-rgb-color-base-red-400), 0.8);
  --ds-color-opaque-red-400-low: rgba(var(--ds-rgb-color-base-red-400), 0.251);

  --ds-color-brand-primary-black: var(--ds-color-base-grey-900);
  --ds-color-brand-primary-pink: var(--ds-color-base-red-50);
  --ds-color-brand-primary-grey: var(--ds-color-base-grey-100);
  --ds-color-brand-primary-white: var(--ds-color-base-white);
  --ds-color-brand-secondary-black: var(--ds-color-base-black);
  --ds-color-brand-secondary-red: var(--ds-color-base-red-600);
}
