.base-button {
  font-family: var(--font-family-primary);
  color: var(--color-border-button-primary-base);
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
}
