.base-button {
  font-family: var(--font-family-primary);
  color: var(--color-text-button-secondary-base);
  font-size: var(--font-size-body);
  padding: var(--button-padding);
  line-height: var(--size-line-height-desktop-large);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--font-weight-button);
  background: none;
  border: var(--color-border-button-secondary-base) solid 0.1rem;
  border-radius: 1.6rem;
  display: block;
  position: relative;
  margin: var(--cta) auto 0;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in;
  &::before {
    content: '';
    width: 100%;
    height: 110%;
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    background-color: var(--color-background-secondary);
    z-index: -1;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.2s ease-in;
  }
  &:hover {
    color: var(--color-text-button-secondary-hover);
    &::before {
      transform: translateZ(0);
    }
  }
}
