.grain {
  mix-blend-mode: screen;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  top: -50rem;
  left: -30rem;
  background-image: url('../../../public/assets/images/noise-1.jpeg');
  background-size: cover;
  position: fixed;
  height: calc(100vw + 60rem);
  width: calc(100vw + 60rem);
  content: '';
  border: solid red 1px;
  z-index: 99;
}
