.skills {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 80px);
    grid-auto-rows: 100px;
    @include mq('sm-med') {
        grid-template-columns: repeat(5, 80px);
    }
    @include mq('med') {
        grid-template-columns: repeat(6, 80px);
    }
}



.front-end {
    grid-area: front-end;
}

.back-end {
    grid-area: back-end;
}

.tooling {
    grid-area: tooling;
}