.header {
  width: 100%;
  /* background-color: var(--color-background-primary); */
  overflow: hidden;
  padding: calc(1.5rem + 2.5vw) var(--grid-padding);
  position: absolute;
  z-index: 999;
  nav {
    color: var(--color-text-inverse-base);
    width: 30%;
    margin: 0 auto;
  }
}
