* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    color: rgb(176, 224, 230);
    font-size: 28px;
    padding-bottom: 40px;
}

h3 {
    color: rgba(176, 224, 230, 0.4);
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 25px 20px 25px 20px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #010101;
    opacity: .95;
    color: white;
}

header span {
    font-weight: 800;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: space-around;
    background-color: #010101;
    opacity: .95;
    padding: 20px 20px 0 20px;
}

.skills {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}


/*  SKILLS  */

.skill { 
    width: 75px;
    height: 75px;
    border-radius: 25%;
    background-color: steelblue;
    display: inline-block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.85;

    -moz-box-shadow: 0 4px 7px 0.5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 7px 0.5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 7px 0.5px rgba(0, 0, 0, 0.1);
}

.skill span {
    text-align: center;
}

.skill-react {
    background-color: #282c34;
    color: #61dafb;
}

.skill-javascript {
    background-color: #f7df1e;
}

.skill-sass {
    background-color: #bf4080;
    color: white;
}

.skill-babel {
    background-color: #323330;
    color: #f5da55;
}

.skill-bootstrap {
    background-color: #563d7c;
    color: white;
}

.skill-git {
    background-color: #f14e32;
    color: white;
}

.skill-node {
    background-color: #026e00;
    color: white;
}

.skill-express {
    background-color: #eee;
    color: #259dff;
}

.skill-mongodb {
   background-color: #13aa52;
   color: white;
}

.skill-webpack {
    background-color: white;
    color: #2b3a42;
}

/*   PROJECTS   */

.project-container {
    padding: 18.75px;
}

.project {
    background-color: #2b3a42;
    height: 125px;
    margin: 20px 0;
    border-radius: 12px;
}

.project span {
    color: white;
}