* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    color: rgb(176, 224, 230);
    font-size: 28px;
    padding-bottom: 40px;
}

h3 {
    color: rgba(176, 224, 230, 0.6);
}

header {
    padding: 35px 20px 0 20px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #010101;
    opacity: .95;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #010101;
    opacity: .95;
    padding: 20px 20px 0 20px;
}

.skills {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

.skill { 
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-color: steelblue;
    display: inline-block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    box-shadow: 0 4px 7px 0.5px rgba(0, 0, 0, 0.1);
}

.skill span {
    text-align: center;
}

.skill-React {
    background-color: #282c34;
    color: #61dafb;
}

.skill-JavaScript {
    background-color: #f7df1e;
}

.skill-SASS {
    background-color: #bf4080;
    color: white;
}

.skill-Babel {
    background-color: #323330;
    color: #f5da55;
}

.skill-Bootstrap {
    background-color: #563d7c;
    color: white;
}

.skill-Git {
    background-color: #f14e32;
    color: white;
}

.skill-Node {
    background-color: #026e00;
    color: white;
}

.skill-Express {
    background-color: #eee;
    color: #259dff;
}

.skill-MongoDB {
   background-color: #13aa52;
   color: white;
}

.skill-Webpack {
    background-color: white;
    color: #2b3a42;
}